html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: 0;
  border-width: 0 0 1px;
  height: 1.2rem;
}

.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #dad6d3; 
  display: flex;
  flex-direction: column;
}

.organizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  height: 5%;
  background-color: green;
  font-weight: bold;
}

.Auth-container {
    flex: 1;
    background-size: cover;
    background-image: url("https://media.istockphoto.com/photos/dogs-birthday-picture-id1316230317?b=1&k=20&m=1316230317&s=170667a&w=0&h=_hN_8KaQGu9EdugR2EE2Km61pdT4P9KWPIj56F3BlC0=");
    position: relative;
    background-repeat: no-repeat;
    color: white;
}

.auth-form {
  position: absolute;
  top: 25%;
  left: 65%;
  height: 70%;
  width: 30%;
  background-color: rgba(10, 0, 0, .5);
}

.auth-form__header {
  display: flex;
  flex-direction: row;
  height: 8%;
  align-items: center;
  border-bottom: 1px solid black;
}

.form__header {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.auth-form__header h2:first-of-type {
  border-right: 1px solid black;
}

.auth-form__body {
  display: flex;
  flex-direction: column;
  height: 92%;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  /* background-color: aqua; */
}

.login-container h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}

.login-form label:first-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-form label:last-of-type {
  display: flex;
  flex-direction: column;
}

.login-btn {
  outline: none;
  cursor: pointer;
  margin-top: 2rem;
  padding: .5rem 2rem;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 1rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.register-container {
   display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.register-container h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 5%;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}

.register-form label:first-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.register-form label:not(:first-child):not(:last-child) {
  display: flex;
  flex-direction: column;
}

.register-form label:last-of-type {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.register-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.register-account input:first-of-type {
  margin-right: .3rem;
}

.register-account input:last-of-type {
  margin-left: 1rem;
  margin-right: .3rem;
}

.register-btn {
  margin-top: 2rem;
  outline: none;
  cursor: pointer;
  padding: .5rem 2rem;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 1rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

