.item--container {
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  height: 15rem;
}

.item--container:not(:last-child) {
  margin-bottom: 1rem;
}

.item--card__photo {
  width: 40%;
}

.item--card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0.5rem;
}

.item--card__name {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.item--card__description {
  letter-spacing: 1px;
  padding: 0.5rem 0;
}

.item--consumer__details {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  padding: 0.5rem 0;
}

.item--consumer__details p:first-of-type {
  width: 50%;
}

.item--consumer__details p:last-of-type {
  flex: 1;
}

.item--service__details {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  padding: 0.5rem 0;
}

.item--service__details p:first-of-type {
  width: 50%;
}

.item--service__details p:last-of-type {
  flex: 1;
}

.item--support__details {
  display: flex;
  letter-spacing: 1px;
  padding: .5rem 0;
}

.item--support__details p:first-of-type {
  width: 50%;
}

.item--support__details p:last-of-type {
  flex: 1;
}

.item--contact__details {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.item--contact__details p {
  display: flex;
  flex-direction: row;
  width: 40%;
  letter-spacing: 1px;
  height: 100%;
  align-items: center;
  /* justify-content: center; */
}

.item--contact__details button:first-of-type {
  background-color: transparent;
  width: 25%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  padding: .5rem 0;
  cursor: pointer;
  border-radius: 3rem;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid white;
  color: white;
}

.item--contact__details button:last-of-type {
  background-color: transparent;
  width: 25%;
  padding: .5rem 0;
  cursor: pointer;
  border-radius: 3rem;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid white;
  color: white;
}

